body {
  background-image: url("img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h1 {
  text-shadow: 2px 2px 4px rgba(141, 68, 135, 0.5);
  text-align: center;
  font-style: italic;
  color: #8b0b8b;
}

h2 {
  text-shadow: 2px 2px 4px rgba(247, 172, 240, 0.5);
  text-align: center;
  font-style: italic;
  color: #471f47;
}

ul {
  list-style: none;
  padding: 1em 0;
  background: #f0d1f0;
  margin: 0 auto;
}

li {
  text-decoration: none;
  display: inline;
}

nav {
  display: block;
  width: 100%;
  margin: 0 auto 30px;
}
a {
  text-decoration-line: none;
  padding: 1em;
  background: #d189d1;
  border-right: 1px solid #aa49aa;
  color: #fcf5fc;
}
a.active {
  background: #b87cb8;
}

.contactInfo {
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 2px solid #aa49aa;
  text-shadow: 2px 2px 4px rgba(247, 172, 240, 0.5);
  text-align: left;
  color: #471f47;
}
